// _navbar.scss
// Navbar

.navbar {
	border-bottom: 1px solid #EEE;
	background-color: rgba(255, 255, 255, 1);
}
.scrolled {
	border-bottom: 1px solid #FFF;
	background-color: rgba(225, 249, 255, 0.9);
	transition: 1.5s ease-in;
}
.navbar-menu-text a  {
	  font: {
			family: $font-stack;
      size: 14px;
      weight: 400;
    }
    &:hover, &:active {
    	color: $primary-color !important;
    }
}
@media only screen and (max-width: 768px){ .navbar-btn { margin: 15px 0 !important;} }
