// _variables.scss
// Variables

//Font:
$font-stack: 'Roboto', sans-serif, helvetica;
$font-stack2: 'Playfair Display', serif;

//Colors:
$primary-color: #00adef;
$primary-color-light: #17befc;
$primary-color-shadow: rgba(0,174,239,0.4);
$secondary-color: #65449b;
$secondary-color-light: #8537dd;
$secondary-color-shadow: rgba(133,55,221,0.4);

$text-color: #4a4a4a;

//